[[source]]
name = "pypi"
url = "https://pypi.org/simple"
verify_ssl = true

[dev-packages]
pylint = "*"
pydocstyle = "*"
autopep8 = "*"
rope = "*"

[packages]
beautifulsoup4 = "==4.6.3"
bs4 = "==0.0.1"
certifi = "==2018.11.29"
chardet = "==3.0.4"
emoji = "==0.5.1"
idna = "==2.7"
python-dotenv = "==0.10.0"
requests = "==2.20.1"
urllib3 = "==1.24.1"
mojimoji = "*"

[requires]
python_version = "3.7"
