[[source]]
name = "pypi"
url = "https://pypi.org/simple"
verify_ssl = true

[dev-packages]
pylint = "*"
pydocstyle = "*"
autopep8 = "*"
rope = "*"

[packages]
bs4 = "*"
emoji = "*"
python-dotenv = "*"
requests = "*"
mojimoji = "*"
retry = "*"

[requires]
python_version = "3.7"
